div {
    font-size: 1.1em;
    margin: 50px auto;
    width: 370px;

}

input, label {
    font-size: 1em;
    margin: 5px 0;
    padding-left: 5px;

}
input{
  width:200px;
}
.span1:after{
  content:'x';
  color:red;
}
.span2:after{
  content:'✓';
  color:green;
  font-size:20px
}
#calculate {
    margin-left: 63px;
    width:70px;
